<title>Contact details</title>
<p>
  <strong>Contact details:</strong>
  <%= @contact.name %>
</p>
 
<p>
  <%= @contact.mail %>,
  <%= @contact.phone %>
</p>

<%= link_to 'Back to Contacts list', contacts_path %>
